<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Cape Cod Captain</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">

            <% if logged_in? %>
              <%= link_to "Sign Out", logout_path, method: :delete, :class => 'btn btn-default btn-sm' %>
            <% else %>
              <%= link_to "Sign In", login_path, :class => 'btn btn-default btn-sm' %>
            <% end %>

          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <div class="col-md-3" id="first">
        <%= image_tag("Jeff-Fryar.jpg", :size => '150x200') %>
    </div>
    <div class="col-md-6 middle" id="second">
        <h2>Captain Jeffrey E. Fryar</h2>
        <h4>USCG Master 100 Ton</h4>
        <ul>
            <li>Steam | </li>
            <li>Power | </li>
            <li>Sail | </li>
            <li>Assistance | </li>
            <li>Towing</li>
        </ul>
    </div>
    <div class="col-md-3" id="third">
        <%= image_tag("anchor.jpg", :size => "150x200") %>
    </div>
  </div>
</div>


<!--<div class="header-container">
      <div class="center-block">
        <div class="col-md-3" id="first">
          <%= image_tag("Jeff-Fryar.jpg", :size => '150x200') %>
        </div>
        <div class="col-md-6" id="second">
          <h1>Captain Jeffrey E. Fryar</h1>
          <h2>USCG Master 100 Ton</h2>
          <ul>
            <li>Steam | </li>
            <li>Power | </li>
            <li>Sail | </li>
            <li>Assistance | </li>
            <li>Towing</li>
          </ul>
        </div>
        <div class="col-md-3" id="third">
          <%= image_tag("anchor.jpg", :size => "150x200") %>
        </div>
      </div>
    </div>
    -->